<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Licoreria lo compas</title>
    <link rel="stylesheet" href="../estilos/estilos.css">
    <link rel="stylesheet" href="../estilos/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6d368eb5d7.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="cabecera">
        <div>
            <a href="../index.html">
                <img class="logo" src="../img/Logotipo moderno - marca de playa 1.png" alt="Logo">
            </a>
        </div>

        <div>
            <menu class="menu">          
                            
                <li>
                    <a  href="../index.html">Inicio</a>
                </li>
                
                <li>
                    <a href="../Views/tienda2.html">Tienda</a>
                </li>

                <li><a href="../Views/promociones.html">Promociones</a>
                </li>

                <li>
                    <a href="../Views/contacto.html">Contactanos</a>
                </li>

                <li>
                    <a href="./Views/blog.html">Blog</a>
                </li>
            
            </menu>
        </div>
    </header>
<body>

    <div class="contenedor contenido-principal">
        <main class="blog">
            <h3 class="tituloblog">Nuestro Blog</h3>
            <article class="entrada">
                <div class="entrada__imagen">
                    <img src="../img/Variedad de whisky.jpg" alt="imagen blog">
                </div>
                <div class="entrada__contenido">
                    <h4 class="no-margin">Tipos de Whisky</h4>
                    <p>Lorem ipsum dolor  repellat sint Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem officia modi unde eaque repellendus impedit, eligendi culpa optio maiores assumenda numquam nobis nisi. Amet ab dicta quod omnis libero quae. commodi labore, sit iure vel nobis tenetur repudiandae molestiae?</p>
                </div>
                <a href="entrada.html" class="boton boton--primario">Leer Entrada</a>


            </article>

            <article class="entrada">
                <div class="entrada__imagen">
                    <img src="../img/Ron con naranja.jpg" alt="imagen blog">
                </div>
                <div class="entrada__contenido">
                    <h4 class="no-margin">Como hacer un cuba Libre</h4>
                    <p>Lorem ipsum dolor  repellat sint commodi labore, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia iusto quidem nostrum asperiores, animi architecto mollitia obcaecati tempore? Iste debitis minima dolores cumque accusamus modi explicabo cupiditate aut commodi possimus! sit iure vel nobis tenetur repudiandae molestiae?</p>
                </div>
                <a href="entrada.html" class="boton boton--primario">Leer Entrada</a>


            </article>

            <article class="entrada">
                <div class="entrada__imagen">
                    <img src="../img/Sirviendo trago.jpg" alt="imagen blog">
                </div>
                <div class="entrada__contenido">
                    <h4 class="no-margin">Aprendinedo a catar vino</h4>
                    <p>Lorem ipsum dolor  repellat sint  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo corporis earum, adipisci vel odio facilis. Autem saepe doloribus quisquam ducimus ipsum quidem maxime corrupti atque enim doloremque, est odit voluptate? commodi labore, sit iure vel nobis tenetur repudiandae molestiae?</p>
                </div>
                <a href="entrada.html" class="boton boton--primario">Leer Entrada</a>


            </article>
            
        </main>
        <aside class="sidebar">
            <h3>Nuestros cursos y talleres</h3>

            <ul class="cursos">
                <li class="widget-curso">
                    <h4 class="no-margin">como reconocer un buen Whisky</h4>
                    <p class="widget-curso__label">Precio:
                        <span class="widget-curso__info">Gratis</span>
                    </p>
                    
                    <p class="widget-curso__label">Cupo:
                        <span class="widget-curso__info">20</span>
                    </p>
                    <a href="entrada.html" class="boton boton--secundario">Leer Entrada</a>
                </li>

                <li class="widget-curso">
                    <h4 class="no-margin">Como catar el vino</h4>
                    <p class="widget-curso__label">Precio:
                        <span class="widget-curso__info">Gratis</span>
                    </p>
                    
                    <p class="widget-curso__label">Cupo:
                        <span class="widget-curso__info">20</span>
                    </p>
                    <a href="entrada.html" class="boton boton--secundario">Leer Entrada</a>
                </li>
                
            </ul>
                
        </aside>

    </div>
    
</body>
</html>