<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Licoreria lo compas</title>
    <link rel="stylesheet" href="../estilos/estilos.css">
    <link rel="stylesheet" href="../estilos/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6d368eb5d7.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="cabecera">
        <div>
            <img class="logo" src="../img/Logotipo moderno - marca de playa 1.png" alt="Logo">
        </div>

        <div>
            <menu class="menu">          
                            
                <li>
                    <a  href="/index.html">Inicio</a>
                </li>
                
                <li>
                    <a href="/Views/tienda.html">Tienda</a>
                </li>

                <li><a href="/Views/promociones.html">Promociones</a>
                </li>

                <li>
                    <a href="/Views/contacto.html">Contactanos</a>
                </li>
            
            </menu>
        </div>
    </header>

    <section>
        <h2>Contactanos</h2>
        <form class="formulario2" action="">
            <fieldset>
                <legend>Contactanos llenando los campos</legend>
            <div class="contenedor-campos">
                    <div class="campo">
                    <label for="">Nombres</label>
                    <input class="input-text" type="text" placeholder="Nombre">                    
                </div>

                <div class="campo">
                    <label for="">Apellidos</label>
                    <input class="input-text" type="text" placeholder="Apellidos">
                </div>

                <div class="campo">
                    <label for="">Correo</label>
                    <input class="input-text" type="text" placeholder="Correo">
                </div>
                
                <div class="campo">
                    <label for="">Mensaje</label>
                    <textarea class="input-text" name="" id="" cols="30" rows="10"></textarea>
                </div>

                <div class="alinear-derecha flex">
                    <input type="boton1" type="submit" value="Enviar">
                </div>

            </div>
            </fieldset>

        </form>
    </section>
    
</body>
</html>