<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Licoreria lo compas</title>
    <link rel="stylesheet" href="../estilos/estilos.css">
    <link rel="stylesheet" href="../estilos/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6d368eb5d7.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="cabecera">
        <div>
            <img class="logo" src="/img/Logotipo moderno - marca de playa 1.png moderno - marca de playa 1.png" alt="Logo">
        </div>

        <div>
            <menu class="menu">          
                            
                <li>
                    <a  href="/index.html">Inicio</a>
                </li>
                
                <li>
                    <a href="/Views/tienda.html">Tienda</a>
                </li>

                <li><a href="/Views/promociones.html">Promociones</a>
                </li>

                <li>
                    <a href="/Views/contacto.html">Contactanos</a>
                </li>
            
            </menu>
        </div>
    </header>

    <section>
        <h1>Contacto</h1>
            <h2>Ingrese sus datos</h2>
        <form>
             <label>Nombres</label>
             <input type="text" /> <br/>
    
            <label>Apellidos</label>
                 <input type="text" /> <br/>

             <label>Correo</label>
             <input type="text" /> <br/>

            <label>Teléfono</label>
            <input type="text" /> <br/>
         </form>

        <h1>También Contáctanos aquí</h1>

        <ul>
            <li>980-875-448</li>
         <li>alwaysdrinklicoría@gmail.com</li>
        </ul>

         <img width= "50px" alt="Facebook" src="img/png-transparent-circle-facebook-fb-round-icon-social-media-social-network-popular-services-brands-vol-icon.png"/>
            <img width= "80px" alt="Instagram" src="img/logo-minimalist-instagram.png"/>
         <img width= "55px" alt="Whatsapp" src="img/descarga.jpg"/>
    </section>
    
</body>
</html>