<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Licoreria lo compas</title>
    <link rel="stylesheet" href="../estilos/estilos.css">
    <link rel="stylesheet" href="../estilos/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6d368eb5d7.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="cabecera">
        <div>
            <a href="../index.html">
                <img class="logo" src="../img/Logotipo moderno - marca de playa 1.png" alt="Logo">
            </a>
        </div>

        <div>
            <menu class="menu">          
                            
                <li>
                    <a  href="/index.html">Inicio</a>
                </li>
                
                <li>
                    <a href="/Views/tienda.html">Tienda</a>
                </li>

                <li><a href="/Views/promociones.html">Promociones</a>
                </li>

                <li>
                    <a href="/Views/contacto.html">Contactanos</a>
                </li>

                <li>
                    <a href="../Views/blog.html">Blog</a>
                </li>
            
            </menu>
        </div>
    </header>

    <main class="contenedor">

         <h2 class="titulodeopcion">El secreto está en la variedad</h2>

         <div class="contenedor2 tres-columnas">
            <article class="entrada-blog1">
                <h1>Promociónes de Whisky</h1>
                <img src="../img/whisky.jpg">
                <p>Tenemos Whiskys de todos los precios y todas las marcas, puedes obtener mas información revisando nuestra tienda.</p>
                <a href="./tienda.html">Tienda</a>
            </article>
    
            <article class="entrada-blog1">
                <h1>Promociones de Snack's</h1>
                <img src="../img/snack.jpg">
    
                <p>Tenemos una gran variedad de piqueos para que puedas escoger acorde a tus gustos.</p>
                <a href="./tienda.html">Tienda</a>
            </article>
    
            <article class="entrada-blog1">
                <h1>Titulo Entrada Blog</h1>
                <img src="../img/monopolio.jpg">
    
                <p>Haz tu reunión mas divertida con juegos de mesa, tenemos cartas, Yenga, Monopolio, Ludo, y muchos otros más.</p>
                <a href="./tienda.html">Tienda</a>
            </article>
        </div>
         


      

    </main>

    <footer>
        <h3>Todos los derechos reserados</h3>

    </footer>
    
</body>
</html>