<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Licoreria lo compas</title>
    <link rel="stylesheet" href="../estilos/estilos.css">
    <link rel="stylesheet" href="../estilos/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6d368eb5d7.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="cabecera">
        <div>
            <a href="../index.html">
                <img class="logo" src="../img/Logotipo moderno - marca de playa 1.png" alt="Logo">
            </a>
        </div>

        <div>
            <menu class="menu">          
                            
                <li>
                    <a  href="../index.html">Inicio</a>
                </li>
                
                <li>
                    <a href="../Views/tienda.html">Tienda</a>
                </li>

                <li><a href="../Views/promociones.html">Promociones</a>
                </li>

                <li>
                    <a href="../Views/contacto.html">Contactanos</a>
                </li>
            
            </menu>
        </div>
    </header>

    
    <section>
        <div class="titulo-tienda">
            
            <h1>Tienda</h1>

            <h2>El secreto está en la variedad</h2>
        </div>
    </section>
    

    <main class="contenedor sombra">

        <div class="container-slider">
        
            <div class="slider" id="slider">
                
                <div class="slider__section">
                    <img src="../img/Promociones.jpeg" alt="" class="slider__img">
                </div>
    
                <div class="slider__section">
                    <img src="../img/Slider 5.jpeg" alt="" class="slider__img">
                </div>
    
                <div class="slider__section">
                    <img src="../img/Slider 6.jpeg" alt="" class="slider__img">
                </div>
            </div>
            
            <div class="slider__btn slider__btn--right" id="btn-right">&#62;</div>
            <div class="slider__btn slider__btn--left" id="btn-left">&#60;</div>
    
        </div>
        <section>
            <h3 class="titulotienda">Nuestra Tienda</h3>
            <div class="stores">
                <section class="store">
                    <h3>Whisky</h3>
                    <div class="tragos">
                        <img class="imagentrago" src="../img/Whisky.png" alt="">
                    </div>
                       <p>Precio: S/ 79.90 </br>
                           Botella de litro</p>
                </section>

                <section class="store">
                   <h3>Whisky</h3>
                   <div class="tragos">
                       <img class="imagentrago" src="../img/productos/kisspng-tennessee-whiskey-liquor-jack-daniel-s-bourbon-whi-jack-daniel-5b5c718d6dcb30.3740325715327850374497.jpg" alt="">
                   </div>
                      <p>Precio: S/ 79.90 </br>
                          Botella de litro</p>
               </section>

               <section class="store">
                   <h3>Whisky</h3>
                   <div class="tragos">
                       <img class="imagentrago" src="../img/productos/kisspng-tennessee-whiskey-liquor-jack-daniel-s-bourbon-whi-jack-daniel-5b5c718d6dcb30.3740325715327850374497.jpg" alt="">
                   </div>
                      <p>Precio: S/ 79.90 </br>
                          Botella de litro</p>
               </section>

               <section class="store">
                   <h3>Pisco</h3>
                   <div class="tragos">
                       <img class="imagentrago" src="../img/productos/pisco_santiago_queirolo_big.jpg" alt="">
                   </div>
                      <p>Precio: S/ 79.90 </br>
                          Botella de litro</p>
               </section>

               <section class="store">
                   <h3>Tequila</h3>
                   <div class="tragos">
                       <img class="imagentrago" src="../img/Whisky.png" alt="">
                   </div>
                      <p>Precio: S/ 79.90 </br>
                          Botella de litro</p>
               </section>

               <section class="store">
                   <h3>Tequila</h3>
                   <div class="tragos">
                       <img class="imagentrago" src="../img/productos/png-clipart-tequila-distilled-beverage-jose-cuervo-especial-margarita-beer-distilled-beverage-beer-thumbnail.png" alt="">
                   </div>
                      <p>Precio: S/ 79.90 </br>
                          Botella de litro</p>
               </section>

               <section class="store">
                   <h3>Whisky</h3>
                   <div class="tragos">
                       <img class="imagentrago" src="../img/productos/png-transparent-tequila-distilled-beverage-wine-patron-agave-azul-wine-agave-azul-silver-rum.png" alt="">
                   </div>
                      <p>Precio: S/ 79.90 </br>
                          Botella de litro</p>
               </section>

                <section class="store">
                    <h3>Whisky</h3>
                    <div class="tragos">
                     <img class="imagentrago" src="../img/productos/png-transparent-tequila-distilled-beverage-wine-patron-agave-azul-wine-agave-azul-silver-rum.png" alt="">
                    </div>
                   <p>Precio: S/ 79.90 </br>
                       Botella de litro</p>
                </section>

            <section class="store">
                <h3>Whisky</h3>
                <div class="tragos">
                    <img class="imagentrago" src="../img/productos/png-clipart-tequila-distilled-beverage-jose-cuervo-especial-margarita-beer-distilled-beverage-beer-thumbnail (1).png" alt="">
                </div>
                   <p>Precio: S/ 79.90 </br>
                       Botella de litro</p>
            </section>

            </div>
            
        </section>
    </main>

    <footer>
        <h3>Todos los derechos reserados</h3>

    </footer>
    <script src="../slider/slider.js"></script>
    
</body>
</html>